@page "/"
@inject IAuthService AuthService
@attribute [Authorize]

<body>
    <div class="header">
        <AuthorizeView>
            <h1>Hi, @GetNameInEmail(context.User.Identity.Name)</h1>
        </AuthorizeView>
    </div>
</body>


@code {

    private string GetNameInEmail(string userEmail)
    {
        int index = userEmail.IndexOf("@");
        string name = userEmail.Substring(0, index);
        string formattedName = char.ToUpper(name[0]) + name.Substring(1).ToLower();
        return formattedName;
    }
}