@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@attribute [Authorize]

<AuthorizeView>
    @{
        var user = context.User;
        bool isAdmin = user.Identity.IsAuthenticated && user.IsInRole("Admin");
    }

    <div class="top-row navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">WiseBet</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column test">
            @*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            </div>*@
            <div class="nav-item px-3">
                <div class="nav-link-header">
                    MENU
                </div>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <ion-icon class="oi" aria-hidden="true" name="home-outline"></ion-icon>
                    <div class="text">
                        Home
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="predictions">
                    <ion-icon class="oi" aria-hidden="true" name="football-outline"></ion-icon>
                    <div class="text">
                        Predictions
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="history">
                    <ion-icon class="oi" aria-hidden="true" name="stats-chart-outline"></ion-icon>
                    <div class="text">
                        Track Record
                    </div>
                </NavLink>
            </div>            <div class="nav-item px-3">
                <NavLink class="nav-link" href="leadboard">
                    <ion-icon class="oi" aria-hidden="true" name="medal-outline"></ion-icon>
                    <div class="text">
                        Leadboard
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <ion-icon class="oi" aria-hidden="true" name="speedometer-outline"></ion-icon>
                    <div class="text">
                        Dashboard
                    </div>
                </NavLink>
            </div>
            @if (isAdmin)
            {
                <div class="bottom-nav">
                    <div class="nav-item px-3">
                        <div class="nav-link-header">
                            ADMIN
                        </div>
                        <NavLink class="nav-link" href="/admin/import-data">
                            <ion-icon class="oi" aria-hidden="true" name="server-outline"></ion-icon>
                            <div class="text">
                                Import From Excel
                            </div>
                        </NavLink>
                    </div>
                </div>
            }
            <div class="bottom-nav">
                <div class="nav-item px-3">
                    <div class="nav-link-header">
                        SETTINGS
                    </div>
                    <NavLink class="nav-link" href="profile">
                        <ion-icon class="oi" aria-hidden="true" name="settings-outline"></ion-icon>
                        <div class="text">
                            Account
                        </div>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <ion-icon class="oi" aria-hidden="true" name="person-outline"></ion-icon>
                        <div class="text" @onclick="Logout" style="cursor: pointer;">
                            Log Out
                        </div>
                    </NavLink>
                </div>
            </div>
            @*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leagues">
            <span class="oi oi-tags" aria-hidden="true"></span> Leagues
            </NavLink>
            </div>*@
        </nav>
    </div>
</AuthorizeView>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}
